<div class='al-show-actions-box'>
  <div class="al-actions-box-container">
    <% if document.collection_unitid || document.containers.present? %>
      <div class='al-collection-id'>
        <% if document.collection_unitid %>
          <%= document.collection_unitid %>
        <% end %>

        <% if document.collection_unitid && document.containers.present? %>
          <span> | </span>
        <% end %>

        <% if document.containers.present? %>
          <span><%= document.containers.join(', ') %></span>
        <% end %>
      </div>
    <% end %>
    <%= link_to t("request_this"), document.catalogue_link, class: "btn btn-primary btn-sm" %>
    <div class='al-show-actions-box-options d-flex'>
      <%= render partial: 'arclight/requests', locals: { document: document } %>
      <div class='al-show-actions-box-bookmarks flex-md-fill'>
        <%= render partial: 'catalog/bookmark_control', locals: { document: document } %>
      </div>
    </div>
  </div>

  <%= render document.downloads %>
</div>
